@page
@model MyApp.Namespace.NuevoEmpleadoModel
@{
}

<h1 class="text-center">@Model.Titulo</h1>

<div class="d-flex justify-content-center">
<form method="post" class="col-md-6 ">
   
    <input type="hidden" asp-for="empleado.Id">

<div class="form-group">
    <label asp-for="empleado.Nombres"></label>
    <input asp-for="empleado.Nombres" class="form-control">
</div>

<div class="form-group">
    <label asp-for="empleado.Apellidos"></label>
    <input asp-for="empleado.Apellidos" class="form-control">
</div>


<div class="form-group">
    <label asp-for="empleado.TipoDocumento"></label>
    <input asp-for="empleado.TipoDocumento" class="form-control">
</div>


<div class="form-group">
    <label asp-for="empleado.NumeroDocumento"></label>
    <input asp-for="empleado.NumeroDocumento" class="form-control">
</div>


<div class="form-group">
    <label asp-for="empleado.Cargo"></label>
    <input asp-for="empleado.Cargo" class="form-control">
</div>


<div class="form-group">
    <label asp-for="empleado.Salario"></label>
    <input asp-for="empleado.Salario" class="form-control">
</div>


<div class="form-group">
    <label asp-for="empleado.FechaIngreso"></label>
    <input asp-for="empleado.FechaIngreso" class="form-control">
</div>

<input type="submit" value="Enviar" class="btn btn-primary mb-3">
<div>
    <a asp-page="./listasEmpleados" class="btn btn-outline-success">Lista de Empleados</a>
</div>
</form>

</div>
